.shopping_cart {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 40px;
  margin: 40px 20px;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  color: var(--color-tertiary);
}

.cart_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.cart_entry {
  display: flex;
  flex-direction: row;
  gap: 20px;
  min-width: 300px;
}

.product_info > p {
  color: var(--color-tertiary);
  font-weight: bold;
  align-self: center;
  font-size: 1.5em;
}

.product_info h2 {
  max-width: 150px;
}

.shoping_cart_image img {
  height: 100%;
  width: 100%;
}

.shoping_cart_image {
  max-width: 100px;
}

.cta_buy_now {
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  font-weight: bold;
  font-size: 1.2em;
  padding: 15px 60px;
  border-radius: 20px;
  align-self: center;
  margin-bottom: 40px;
}

main {
  display: flex;
  flex-direction: column;
}

#total_price {
  font-weight: bold;
  margin-top: 40px;
  font-size: 40px;
}

@media screen and (min-width: 800px) {
  .shopping_cart {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    gap: 0;
  }

  h1 {
    grid-area: 1/1/2/3;
    justify-self: start;
    margin: 50px 0px;
  }

  .shoping_cart_image {
    grid-area: 2/1/5/2;
  }

  h2 {
    grid-area: 2/2/3/3;
    justify-self: start;
  }

  .image_and_sqp_line {
    grid-area: 3/2/4/3;
  }

  .cart_list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
