h2 {
  font-weight: 600;
  padding: 5px 20px;
}

main h1 {
  color: var(--color-tertiary);
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px 0;
}
