.home-landing {
  background-image: url("../../assets/images/Background_mobile.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
  height: calc(100dvh - 220px);
}

.home-landing h1 {
  font-family: "fugaz one";
  max-width: 220px;
  color: var(--color-primary);
  align-self: center;
}

.home-landing a {
  color: var(--color-tertiary);
  background-color: var(--color-primary);
  padding: 15px 50px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1.2em;
}

.home-desktop-2 h2 {
  color: var(--color-tertiary);
  font-weight: 600;
  margin: 60px;
  font-size: 2.5em;
}

#popular_list {
  margin-top: 0;
}

@media screen and (min-width: 800px) {
  .home-mobile {
    display: none;
  }

  .home-landing,
  .home-desktop-2 {
    display: block;
  }

  .home-landing {
    background-image: url("../../assets/images/Background_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 10px;
    padding: 80px;
  }

  .home-landing h1 {
    font-size: 3em;
    font-family: "fugaz one";
    letter-spacing: 2px;
    max-width: 360px;
    color: var(--color-primary);
  }
}
