/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
/* Feel free to add as many of these imports as you need */
@import url("./fonts.css");

@import url("./home.css");

@import url("./coming_soon.css");

@import url("./pruduct_card.css");

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--color-secondary);
  font-family: "signika negative";
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
}

header a {
  font-size: 30px;
}

header nav li {
  display: inline;
}

header nav ul,
header a {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primary);
  height: 150px;
  padding: 15px 30px;
  font-weight: 600;
}

header nav {
  display: block;
}

.img_container img,
.img_container {
  height: 100%;
}

.footer-desktop {
  display: none;
}

.breadcrumbs {
  margin: 20px 40px;
}

.breadcrumbs a {
  color: var(--color-tertiary);
}

.breadcrumbs a:not(:first-child)::before {
  content: "/";
  padding: 0 7px 0 5px;
}

footer {
  display: flex;
  background-color: var(--color-primary);
  padding: 15px 30px;
  justify-content: space-between;
  color: var(--color-tertiary);
}
