/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #050501;
  --color-secondary: #0f0f0f;
  --color-tertiary: #dedede;
}
